.hugeTitle {
    display: flex;
    color: black;
    border: 5px solid #FFFF00;
    text-align: center;
    font-size: 50px;
}

.subtitle {
    display: flex;
    color: black;
    border: 5px solid #FFFF00;
    text-align: center;
    font-size: 30px;
}

.mediumTextSize {
    font-size: 25px;
    text-align: center;
}

.mediumTitle {
    font-size: calc(10px + 1.1vw);
    text-align: center;
}

.mobilePageTitle {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}

.smallTextSize {
    font-size: calc(8px + 0.6vw);
}

.evenSmallerText {
    font-size: calc(6px + 0.5vw);
}

.dropboxText {
    font-size: calc(10px + 0.3vw);
}
    
.wrongInputText {
    font-size: calc(12px + 0.6vw);
    color: red;
}

